[2015-12-12 17:54] steveklabnik opened #1 "printf can't handle some strings"
This works:

    let hello = "Hi there Manish!";

But this doesn't:

    let hello = "Hi there Manish";

![2015-12-12-125413_270x136_scrot](https://cloud.githubusercontent.com/assets/27786/11763195/6700d46c-a0cf-11e5-847a-85b257945624.png)

I should fix this. Thanks for being a good test case, @manishearth

[2015-12-12 19:00] #1 closed

[2015-12-19 22:27] steveklabnik opened #3 "Something is strange with VGA, maybe scrolling?"
https://github.com/steveklabnik/nucleus/commit/7ffaea4b88d296d6838e09cdb71308bac20f94a2#commitcomment-15078909

[2015-12-20 17:22] steveklabnik opened #4 "keyboard handler stops main?"
If I change `src/lib.rs` like this:

[code]

It prints just fine, but when i hit a key, it doesn't resume printing.

[2015-12-25 17:35] steveklabnik opened #5 "investigate bkernel's build.rs for easier cross-compiled libcore"
@rasendubi has been doing interesting stuff:

https://github.com/rasendubi/bkernel/blob/master/build.rs

this might be a decent idea instead of the current "toss it in some directory" mess.

[2015-12-26 02:43] phil-opp commented on #5
I just tried it and I think it doesn't work for dependencies since build scripts are only invoked for the main crate. It works in the linked repo because the same build script is executed for all dependencies (which we can't do for crates from `crates.io`).

An alternative solution could be cargo's support for [overriding dependencies](http://doc.crates.io/guide.html#overriding-dependencies). But

[2015-12-26 03:19] steveklabnik commented on #5
Ah, i see.

[2015-12-26 03:19] #5 closed

[2015-12-26 17:08] rylev opened #6 "Virtual Machine for Development"
Speaking with @steveklabnik we both came to the conclusion that only supporting a linux development environment is probably the best thing to do (at least to begin with). I've started trying to get the kernel running in a Linux Virtual Box VM using @ashleygwilliams Vagrantfile from a similar project (per @steveklabnik's suggestion). I've run into a few issues, which I'll hopefully have sorted out

[2015-12-26 17:28] ashleygwilliams commented on #6
hi! i was actually about to make a PR with my vagrantfile-- would it be stepping on your toes to do that and then have you correct/improve it? i'd love the diff so i can fix my own setup

[2015-12-28 00:09] dpen2000 opened #8 "License"
What's the license for the code here?

[2015-12-28 00:38] steveklabnik commented on #8
Since I derived this from @phil-opp 's code, which is apache2 licensed, it should also be apache2. https://github.com/phil-opp/blog_os/blob/printing_to_screen/LICENSE

Thanks for pointing this out, I'm really good about it usually, but forgot in this case. Phil, is it just apache2 or dual licensed?

[2015-12-28 00:56] phil-opp commented on #8
Well, honestly I don't know much about licenses. What would be the advantages of dual licensing?

[2015-12-28 01:06] steveklabnik commented on #8
Well, the only reason I ask is because Rust itself is dual licensed apache2/MIT, and so a lot of rust projects are as well.

The advantage is that if someone prefers one license over the other, they can create derived works under just the one they prefer. People do dual apache2/MIT because MIT is simpler, but has no patent clauses, and apache2 is more complex, but has protection for them. So some

[2015-12-28 01:33] phil-opp commented on #8
Ok thanks for the overview. I'm too tired to think about licenses right now but I will consider dual licensing (any drawbacks?).

[2015-12-28 13:20] steveklabnik opened #10 "Fix up make"
In https://github.com/intermezzOS/kernel/pull/9, I split up the makefile into a few steps, for Travis. But 'make' doesn't do the right thing, because I'm lazy and haven't made it do the right thing yet.

[2015-12-28 18:58] #8 closed

[2015-12-28 18:58] steveklabnik commented on #8
I've pushed up the Apache2 license. Thanks again @dpen2000 !

[2015-12-29 11:50] phil-opp commented on #8
I've updated the license of [blog_os](https://github.com/phil-opp/blog_os). It's now apache2/MIT dual licensed.

[2015-12-29 16:02] steveklabnik commented on #8
Cool, I will follow suit.

[2015-12-29 16:56] rylev commented on #6
We have a Vagrantfile merged into master through: https://github.com/intermezzOS/kernel/pull/7. It's not yet perfect for reasons elaborated on in the PR.

[2015-12-29 17:06] rylev opened #12 "Closing qemu Cleanly"
I can't seem to find a good way to cleanly shut down qemu. The docs I found here (http://wiki.qemu.org/download/qemu-doc.html) show a way to "Exit emulator", but this doesn't seem to work for me at least inside of the Vagrant VM. For now, I'm just using `pgrep qemu |  xargs kill -15`

[2016-01-02 02:27] #10 closed

[2016-01-02 03:06] steveklabnik commented on #12
It didn't work for me in not-a-vm either. Hmm.

[2016-01-02 06:26] henrikhodne commented on #12
Ctrl-C in the terminal that's running qemu does the trick for me. Ctrl-A, X only works in “nographics" mode, which we're not using. You can also do Ctrl-Alt-2 in the qemu window to bring up the monitor and enter `quit`.

[2016-01-02 19:06] steveklabnik commented on #12
Ah ha!

[2016-01-03 12:19] rylev commented on #12
Hmmm neither works for me running on Mac using the VM specified in the vagrant file.

[2016-01-04 14:14] lulezi commented on #12
I ran into this issue as well. @rylev, thanks for `pgrep qemu | xargs kill -15`. Also, I don't know if this is related but when I try to start qemu with `qemu-system-x86_64 -cdrom os.iso` it exits saying `Could not initialize SDL(No available video device) - exiting`. This can be avoided using the `-curses` flag.

[2016-01-07 03:18] BrendanBuono commented on #12
As a note, Ctrl-Alt didn't work for me, I had to use Esc instead

[2016-01-08 22:09] emkay opened #13 "OS X"
Hi all, I decided to take a crack at getting this sucker working on os x. I went through and documented my steps in a [script](https://gist.github.com/emkay/a1214c753e8c975d95b4). @steveklabnik said an issue would be good to document this stuff so yay :tada:.

Things the script does:

1. `brew install` tools that it can like `gmp`, `mpfr`, `libmpc`, `autoconf`, and `automake`
2. Download and compi

[2016-01-09 15:21] cmr commented on #13
A note, brought up by rschulman in IRC that I can confirm, is that `qemu` can load multiboot kernels directly with the `-kernel` command line arg, without having to go through a bootloader like grub. You might still want to build grub for deploying to hardware or other VMs (I'm not sure which others, if any, support multiboot directly).

[2016-01-09 16:01] phil-opp commented on #13
I tried it many times but it seems like `-kernel` doesn't work for multiboot2 and/or 64-bit ELF files.

[2016-01-09 16:27] rschulman commented on #13
I'm also wrestling in my own mind about whether we need a cross-compiled grub at all, or just need regular grub for mac. Grub isn't targeting any system and we don't want to run grub on another triple. We just want to use grub on the mac to create a bootloader in the ISO. Am I right about that or very confused? Could be either!

[2016-01-09 16:28] cmr commented on #13
@phil-opp ah that may be the case, I've only used elf32

[2016-01-09 17:09] emkay commented on #13
I could be completely wrong about needing a cross-compiled grub. I'm pretty sure I had tried using the `-kernel` flag but it was not working. I don't exactly remember at what stage I had tried it though. It would be awesome to get rid of the cross compiled grub though as it's sort of a pain to get up and going.

[2016-01-09 17:17] rschulman commented on #13
Yes, now that I see the [page you referred to in the IRC channel](http://wiki.osdev.org/GRUB_2#Installing_GRUB2_on_Mac_OS_X), it looks like I'm just confused/wrong, and we do need to cross compile grub as well. Too bad!

[2016-01-09 22:59] emkay commented on #13
ok my bad. This is quite embarrassing. In the past when using qemu it ran in the terminal. this version opened a new window that I didn't notice because I full screen everything. @cmr pointed out you can use the `-nographic` option to have it not do that.

Anyways, for the good news. This totally works!
![image](https://cloud.githubusercontent.com/assets/1327/12218884/8b46dde4-b6e1-11e5-937b-cdca1

[2016-01-10 00:32] steveklabnik commented on #13
Awesome!!!!

[2016-01-10 20:17] steveklabnik opened #15 "add source for chapter 3.1"

[2016-01-10 20:17] steveklabnik opened #16 "add source for chapter 3.2"

[2016-01-10 20:18] steveklabnik opened #17 "Add source for chapter 3.3"

[2016-01-10 20:18] steveklabnik opened #18 "Add source for chapter 3.4"

[2016-01-10 23:22] rschulman opened #19 "Makefile looks for generic "ld" instead of the cross-compiler explicitly"
IntermezzOS' Makefile calls "ld" but uses the generic name, which on many systems will be the default linker. We should instead be calling ```x86_64-pc-elf-ld```, the explicitly created (hopefully in a chapter in the book?) cross-linker.

[2016-01-11 09:08] ljcusack commented on #12
```Esc+2``` ( or ```alt+2``` ) works for me. This switches consoles where you can use the ```quit``` command

[2016-01-11 13:36] #15 closed

[2016-01-11 13:36] #16 closed

[2016-01-11 13:36] #17 closed

[2016-01-11 13:46] steveklabnik opened #21 "Ensure all chapters build"
for CI purposes.

[2016-01-11 17:03] #19 closed

[2016-02-22 15:45] steveklabnik opened #24 "VGA: kill transmute"
self.buffer.as_ptr() as *const u8

should work instead of the transmute

Thanks @kimundi @bluss

[2016-04-14 22:52] steveklabnik opened #25 "libcore build is from HEAD rather than a specific version"
I'm concerned about how this works when we upgrade. See https://github.com/intermezzOS/kernel/commit/b294480f404b1fccbf745ea53affca9b48b9e482 for details.

[2016-05-22 21:56] steveklabnik opened #29 "Figure out why nasm 2.12 hates a macro"
The version of nasm packaged with debian stretch doesn't work, but the one with jessie does. It appears to be a change between nasm 2.11 and nasm 2.12, but working on both seems like a good idea.

[2016-05-23 03:24] jtdowney commented on #29
I spent some time looking into this. I am not sure the code currently does what is expected, even under nasm 2.11. From looking at the code, it appears the expectation is the macro `H{n}_IST` will be used if it is defined. The only one I see is `H8_IST`, but when I run `nasm -E src/arch/x86_64/interrupt_table.asm` to view the macro expanded code it appears that `H8_IST` is not referenced correctly

[2016-05-23 16:14] steveklabnik commented on #29
Yeah, it's not totally clear to me. It _does_ work on the older version...

[2016-05-23 16:18] steveklabnik commented on #3
Closed by https://github.com/intermezzOS/kernel/pull/30

[2016-05-23 16:18] #3 closed

[2016-05-23 18:50] jtdowney commented on #29
It definitely works but I think it is doing something non-obvious and swallowing the error. If you remove the lines:

[code]

And replace them with:

[code]

It will compile on nasm 2.11 and 2.12. What appears to be happening is that 2.11 is silently ignoring the issue and just always using the else branch in the pre-processor. You can validate this by comparing the hashes of the `.o` file with an

[2016-05-23 19:51] steveklabnik commented on #29
Ah ha, interesting.

On May 23, 2016, 15:06 -0400, John Downey<notifications@github.com>, wrote:

[2016-05-28 22:41] WilsonGiese commented on #4
@steveklabnik You may have already figured this out for yourself, but this code is creating an easy opportunity for a deadlock. While looping, that code almost always has the VGA lock, so when the interrupt handler attempts to print the key it also needs to obtain the VGA lock, which it can't, so it spins forever and ever (so sad)

I don't really know how operating systems usually handle keyboard

[2016-05-28 23:46] emilio commented on #4
@WilsonGiese I'd guess that, just as with signal handlers in POSIX, printing (as anything else that could corrupt global state or hold a global lock) during an interrupt handler is just not safe, and generally not a good idea, and that the way to tackle it would be storing the key code in a buffer for latter use or similar.

That being said I'm not a kernel dev, so happy to be corrected :)

[2016-05-29 00:13] WilsonGiese commented on #4
@emilio My first thought was to use an internal buffer as well, but I don't think this would work well in practice. I don't think you'd ever want to use a key for later use, but rather treat the keyboard interrupt as a keyboard event that could be subscribed to. So maybe the kernels job would only be to deliver keyboard events to its subscribers?

This may not be the right forum for this discussio

[2016-05-29 14:18] steveklabnik commented on #4
@WilsonGiese I had not thought about this issue in a very long time, but yes, I can see now that this is very clearly a deadlock.

I have been working on refactoring the whole interrupt handling system, so I haven't given it a ton of thought yet. Like @emilio , I assumed that storing it in some kind of buffer was probably the way to go, but that's about the extent of it.

I hope to be done with th

[2016-06-02 18:42] steveklabnik commented on #29
https://github.com/intermezzOS/kernel/pull/31 should have eliminated the bad macro but i want to verify before closing this

[2016-06-02 18:43] steveklabnik opened #32 "interrupts: use lazy_static"
that way we get safe initialization

[2016-06-02 18:43] steveklabnik opened #33 "interrupts: use naked functions"
both @ticki and @eddyb brought this up, it's a good idea.

[2016-06-06 23:43] #32 closed

[2016-06-06 23:45] steveklabnik commented on #29
The code now builds with both versions of nasm, so closing.

[2016-06-06 23:45] #29 closed

[2016-06-06 23:53] #25 closed

[2016-06-06 23:55] #24 closed

[2016-06-06 23:56] steveklabnik opened #37 "Ensure the kernel builds"
For CI purposes.

[2016-06-12 17:33] #37 closed

[2016-06-12 18:13] #18 closed

[2016-06-12 18:13] #21 closed

[2016-06-13 21:41] #33 closed

[2016-06-21 19:40] steveklabnik commented on #13
Since this does work, I think this can be closed :)

[2016-06-21 19:40] #13 closed

[2016-06-21 19:40] steveklabnik commented on #6
Given that the Vagrantfile was merged, giving a close.

[2016-06-21 19:40] #6 closed

[2016-06-21 19:41] steveklabnik opened #53 "Provide cross-compile tools through Homebrew"
https://github.com/Homebrew/brew/blob/master/share/doc/homebrew/Custom-GCC-and-cross-compilers.md

It would be super rad if we could provide a formula rather than just the install script.

[2016-07-03 18:05] alehander42 opened #55 "A roadmap for the book?"
Hey,

I am following this project with great interest. I wonder if there is any kind of schedule or a plan for the next chapters (because I want to start playing with osdev using this project when it gets to the printing to screen stuff and I want to schedule my other side projects now)

[2016-07-05 18:43] steveklabnik commented on #55
Hey @alehander42 ,

There's no schedule; this is 100% in my free time, and sometimes I have a lot of time for it, and sometimes I don't. There is a rough plan; you can see how `SUMMARY.md` in the book repo has some future chapters sketched out, and the code here is farther ahead. However, one reason I haven't written the VGA chapter yet is I'm not sure that the code here is the best I can do; I mi

[2016-07-05 18:43] #55 closed

[2016-07-07 18:09] chrisccerami commented on #53
Considering how painful it is trying to get an environment set up for this, I agree entirely. I've struggled for hours on each machine I've tried to set up trying to get everything installed and configured.

[2016-07-07 19:05] steveklabnik commented on #53
@chrisccerami I don't have an OSX machine, so I can't do this. Have you ever done it? I wonder how hard it is.

[2016-07-07 19:45] chrisccerami commented on #53
I haven't, but I do have an OSX machine. I can look into it at some point if no one else takes care of it first.

[2016-07-07 20:01] WilsonGiese commented on #53
I've installed on both OS X and Linux and didn't find it too troublesome. The instructions in the book worked well for me, only needing minor modification to the makefile when on OS X for `ld`. Is there anything in particular you have had issues with @chrisccerami?

I might look into setting up a formula; I've never created one before but might be a fun experience.

[2016-07-24 11:25] sigmavirus24 opened #56 "On systems that boot from EFI by default, qemu cannot read the image"
So I've spent a couple days struggling with this, but I finally found [an answer that helped](http://forum.osdev.org/viewtopic.php?p=244443&sid=13812969ada3959bbfbeb16aab4bc724#p244443).

tl;dr If you're developing in an OS that has been booted on an EFI system, `grub-mkrescue` assumes you want your image to have the EFI protections as well. In that case, you'll see a message about failing to boot

[2016-07-24 19:09] sigmavirus24 commented on #56
I just found the trouble shooting section :+1:

[2016-07-24 19:09] #56 closed

[2016-07-27 22:35] k0pernicus opened #57 "[Question] IRC/group to discuss about the project?"
I'm trying to implement my own VGA driver myself.
I made a simple solution using a macro, like the example given at the end of the chapter `kmain`, but I have a LOT of questions to perform myself in Rust :-)

Is an IRC/channel/group exists to discuss about that?

Thanks a lot!

[2016-07-28 00:02] rjgoldsborough commented on #57
@k0pernicus there is an #intermezzos channel on irc.freenode.net

[2016-07-28 00:10] k0pernicus commented on #57
Thanks @rjgoldsborough :-)

[2016-07-28 00:38] steveklabnik commented on #57
It can be quiet at times, but I'm on 24/7, and try to answer when I come back. `#rust-osdev` on Mozilla's IRC can also be helpful.

Giving it a close since your question was answered!

[2016-07-28 00:38] #57 closed

[2016-09-22 10:28] adrianbrink opened #59 "Installation of specific rustc version fails"
When running `rustup install nightly-2016-05-26` on macOS 10.12 with all updates applied, the command never exists.

It prints:

[code]

And just hangs there forever. The same problem exists for `nightly-2016-05-27`, which I guess means that it fails for this installation method.

Is there any quick fix for this, until rustup.rs fixes this.

I'm also going to raise an issue there.

[2016-09-22 11:01] steveklabnik commented on #59
Hmmmmmmmmm I bet you could do this:

1. Go to rust-lang.org
2. Go to the install page, IIRC (I'm on my phone) it's under "other installs"
3. Right click the link for nightly and copy it
4. Paste it in your browser, but fix the date
5. Use that installer

You'll have to uninstall it once rustup is fixed, but it should get you going in the meantime. Hope that helps!

On Sep 22, 2016, 12:28 +0200, Ad

[2016-09-24 07:11] adrianbrink commented on #59
Thanks, I'll try that :-)

[2016-09-24 11:04] adrianbrink commented on #59
Mh, the only link I can find for the nightly build is this one: `https://static.rust-lang.org/dist/rust-nightly-x86_64-unknown-linux-gnu.tar.gz` and it comes from here: `https://www.rust-lang.org/en-US/downloads.html`.

However when I amend the first link with the specific date like so: `https://static.rust-lang.org/dist/rust-nightly-2016-05-26-x86_64-unknown-linux-gnu.tar.gz` I get an error that

[2016-09-25 17:34] ashleygwilliams opened #61 "QEMU doesn't recognize keyboard (Vagrant)"
when running in the Vagrant img the keyboard does not work appropriately

<img width="469" alt="screen shot 2016-09-25 at 1 29 31 pm" src="https://cloud.githubusercontent.com/assets/1163554/18817059/bedcc514-8324-11e6-97f4-f511e38063f2.png">
<img width="606" alt="screen shot 2016-09-25 at 1 33 01 pm" src="https://cloud.githubusercontent.com/assets/1163554/18817060/c3642064-8324-11e6-80ae-1cd13afdf

[2016-09-26 23:50] ashleygwilliams opened #65 "missing instructions for setting up a cross linker for macOS"
add these instructions to the README: http://intermezzos.github.io/book/appendix/osx-install.html

`make cargo` on macOS gives this error. this is because macOS has the wrong `ld` (BSD), we need the GNU `ld`.

[code]

[2016-09-26 23:50] steveklabnik commented on #65
(Also, those instructions don't help configure cargo to do the right thing, which we need to add)

[2016-09-27 00:15] WilsonGiese commented on #65
Related: https://github.com/intermezzOS/kernel/issues/53

[2016-09-27 03:03] #65 closed

[2016-09-28 07:17] WilsonGiese opened #68 "Unit testing; what to do about protected components?"
I was just messing around a bit, trying to add a cursor back into the new VGA code on my [fork](https://github.com/intermezzOS/kernel/compare/master...WilsonGiese:master), no issues running the code in QEMU, but definitely had issues trying to access VGA hardware registers in test code. I basically broke all VGA tests by causing SIGSEGVs (woo!).

Wondering what the options are for unit testing cod

[2016-09-28 15:30] steveklabnik commented on #68
Yes, I think this is an open and interesting question. @withoutboats had a really interesting talk at RustConf about using more traits to enable testing.

One interesting possibility here: mock out some sort of `pic` crate.....

[2016-09-28 18:41] WilsonGiese commented on #68
Is the @withoutboats talk available online anywhere? Not able to find it anywhere :(

[2016-09-28 20:33] withoutboats commented on #68
@WilsonGiese I believe it will be on the internet soon, but it seems like you understand the idea:

For any interface between modules that you want to be an isolation boundary, instead of taking the other type directly, take a trait-bound type parameter, and then define mock impls in your unit tests.

I don't know anything about OSdev or I'd post a little practical example (ps excited to learn som

[2016-09-28 20:52] WilsonGiese commented on #68
Yeah, this is basically what I was thinking!

I'll probably play around a little and see what I can come up with, concept seems easy enough to test

Awesome, looking forward to listening to your talk @withoutboats 👍

[2016-09-28 22:25] steveklabnik commented on #68
:confetti_ball:

[2016-09-29 16:05] steveklabnik commented on #59
So, I'm not sure why this was caused, but with the latest changes, it works on any nightly. Or rather, it will at least work on the nightly of each commit; we're no longer using a special fork of libcore that's set up for a specific nightly.

So, @adrianbrink , can you give it a try with the latest nightly instead?

[2016-09-29 16:08] steveklabnik opened #69 "`cargo test` doesn't work"
[code]

We don't currently have any unit tests here, so it's not a _problem_, but we should figure this out and fix it.

Someone on IRC told me that the PIC stuff would be fixed if we used gcc to assemble rather than nasm. Unsure though.

[2016-09-29 17:58] WilsonGiese commented on #69
Does `cargo run` work for you though? I noticed this issue last night, but didn't file anything because I just assumed we ought to be using `make run` and `make test`

[2016-09-29 19:12] steveklabnik commented on #69
So, I've figured it out.

[code]

Will ensure that the `main` doesn't get tested, and then, removing the `build.rs` works to test the library crate.

So, the key question is: can we not do the `build.rs` stuff in test? I'm not sure.

[2016-09-29 19:22] steveklabnik commented on #69
Idea: move the lib crate out into its own `path` dependency. This would be less than ideal, but would at least let things work.

[2016-09-29 19:36] steveklabnik commented on #69
alternatives:

1. port nasm -> intel syntax, then we can assemble with gcc, which will produce PIC-code
2. figure out how to change the code to be PIC-aware in nasm. this requires code changes, i think

[2016-09-29 20:00] steveklabnik commented on #4
Since handlers are gone now, closing this. Of course, when bringing them back, this will be important...

[2016-09-29 20:00] #4 closed

[2016-09-29 23:08] steveklabnik commented on #69
I've been playing with it, it now compiles, but doesn't _work_.

https://github.com/intermezzOS/kernel/commit/e28254e57ce3b2f1451c0a9e6b50a4e7f3aca057

[2016-09-29 23:33] steveklabnik commented on #69
(I'm pushing more commits to that branch as I try things)

[2016-09-29 23:34] steveklabnik commented on #69
I can confirm, at least, that when doing so, 'cargo test' does actually work, so that's nice.

[2016-09-29 23:40] WilsonGiese commented on #69
Hmm... What exactly does "doesn't work" mean? Have you stepped with GDB?

The only thing that sticks out to me from a quick glace with my limited knowledge: should `.global start` be `.globl start`?

Kind of assuming it wouldn't compile without the directive, but I have no idea and can't test it atm.

[2016-09-29 23:42] steveklabnik commented on #69
![2016-09-29-194228_388x103_scrot](https://cloud.githubusercontent.com/assets/27786/18976047/df5021be-867c-11e6-99a5-44ae8eb440cc.png)

[2016-09-30 00:04] steveklabnik commented on #69
asing /r/osdev https://www.reddit.com/r/osdev/comments/5559cl/converting_from_nasm_to_intel_syntax/?st=itp0c7zu&sh=2109911e

[2016-09-30 02:59] WilsonGiese commented on #69
I ran `readelf --header target/isofiles/boot/intermezzos' for both the working & broken versions:

Working: `Entry point address:               0x1018c4`
!Working: `Entry point address:               0x0`

Not really sure if this is at all helpful, obviously the entry point is wrong, but maybe this info could prove useful to determine the issue (but I've got nothing). There's also many other diffe

[2016-09-30 09:49] WilsonGiese commented on #69
Added `*(.boot)` to the .boot section of the linker file, and now the ELF file looks more like the one produced when using nasm, but it still doesn't work. It _is_ able to find the entry point, but ends up in some kind of crash loop in QEMU.

[code]

[2016-09-30 16:07] steveklabnik opened #70 "README is out of date"
It doesn't mention that you need `xargo`.

[2016-09-30 16:10] steveklabnik commented on #69
On the #rust-osdev IRC, it was suggested that

    .section .boot, "ax"

was the problem. And that does seem to be the case; now I get the triple fault you're seeing.

[2016-09-30 17:11] WilsonGiese commented on #69
Interesting; this modification produces a different ELF than the linker change.

Man, all of this is like magic to me!  I spent a bit of time reading both GAS and linker syntax docs and I don't think I saw anything regarding .section flags. Now that I know they exist I found one [document](http://tigcc.ticalc.org/doc/gnuasm.html#SEC119) describing them

[2016-09-30 17:27] steveklabnik commented on #69
Right! Still learning a lot, though.

[2016-10-01 06:19] slayerjain commented on #70
Made some changes :)

[2016-10-01 20:07] steveklabnik commented on #70
@slayerjain oh?

[2016-10-01 20:20] steveklabnik opened #74 "Cleanup PIC crate"
The PIC crate is kind of a hack. It'd be nice to fix it up.
- [ ] Use x86 instead of inline asm for `outb`/`inb`
- [ ]  Is this list of functions right? What would a good interface for a PIC be?

[2016-10-01 20:22] steveklabnik opened #75 "We need better docs for the consle crate"

[2016-10-01 20:22] steveklabnik opened #76 "We need better docs for the intermezzos crate"

[2016-10-01 20:22] steveklabnik opened #77 "We need better docs for the interrupts crate"

[2016-10-01 20:22] steveklabnik opened #78 "We need better docs for the keyboard crate"

[2016-10-01 20:23] steveklabnik opened #79 "We need better docs for the pic crate"

[2016-10-01 20:29] steveklabnik opened #80 "Implement the serial port"
The serial port interface needs to be designed and implemented.

[2016-10-01 20:30] steveklabnik opened #81 "Implement paging"
Identity paging has been completed, but that's not great. We should do actual paging.

[2016-10-01 20:30] steveklabnik opened #82 "Implement user mode"
We should be able to start a process and run it in user mode.

[2016-10-01 20:31] steveklabnik opened #83 "Implement the FAT32 Filesystem"
To start filesystem support, get FAT32 going.

[2016-10-01 20:31] steveklabnik opened #84 "Implement multitasking"
Run more than one user program at once.

[2016-10-01 20:33] steveklabnik opened #85 "Implement VGA driver"
Current status: this has been implemented, but not yet written about in the book.

[2016-10-01 20:33] steveklabnik opened #86 "Implement keyboards"
This has a bare-bones impl, but could be made much better.

[2016-10-01 21:46] steveklabnik opened #87 "Implement interrupts with error codes"
Right now, we only implement ISRs with no error codes. We should also be able to handle the ones that push an error code.

[2016-10-03 19:03] steveklabnik opened #96 "move to a higher-half kernel"
@ketsuban has an example here: https://github.com/Ketsuban/finisterre

I think this would be a good idea before going to usermode, so cc https://github.com/intermezzOS/kernel/issues/82

If anyone is interested in tackling this, please give it a try!

[2016-10-03 19:43] Ketsuban commented on #96
[Here's a link to the current commit](https://github.com/Ketsuban/finisterre/tree/5dd189961b0d61eef73c308d04c02bf0262ef986) to save me having to keep the master branch pristine in the interim. The main differences are in `boot.asm` and `layout.ld`, and should be fairly easy to port over to intermezzOS.

As written any identity-mapped virtual addresses (like the VGA buffer at `0xB8000`) will contin

[2016-10-10 19:20] steveklabnik commented on #81
http://nommu.org/memory-faq.txt

[2016-10-12 21:06] steveklabnik commented on #53
Possibly relevant: https://www.reddit.com/r/rust/comments/5741ue/crosscompilation_on_macos_for_linux/d8pakjd?context=3&st=iu7eo0tc&sh=ac5fad35

[2016-10-22 09:33] steveklabnik opened #98 "explore KVM API"
This is super off the wall, but intermezzOS through kvm would be amazing http://lwn.net/Articles/658511/

marking as "question" because who knows if we even want to do this

[2016-10-27 15:39] jtgeibel commented on #69
I ran into this same error today at rust-belt-rust conference.  Interestingly, I see this error when building, not just when running tests.  I'm currently on Ubuntu yakkety with the following versions:

[code]

[code]

[code]

[code]

[2016-11-08 03:37] slayerjain commented on #70
@steveklabnik  I think the pull request for this issue should be merged.
btw I have some interesting proposal for file-systems and paging :D

[2016-11-08 23:45] hawkw commented on #53
I've written brew formulae for installing the x86_64-pc-elf toolchains in [hawkw/homebrew-x86_64-pc-elf](https://github.com/hawkw/homebrew-x86_64-pc-elf) – you may find them useful.

Do note that I've only just finished putting these together, so there may be some bugs that I've yet to work out.

[2016-11-11 00:07] hawkw commented on #53
Okay, I've tested my formulae on my machine, and everything seems to work correctly.

I've also opened a PR https://github.com/Homebrew/homebrew-core/pull/6804 to add a formula for `objconv` to `homebrew/core`. Hopefully it'll be approved soon.

[2016-11-11 16:38] hawkw commented on #53
My PR for `objconv` was rejected from `homebrew/core` because the author of `objconv` doesn't provide versioned links for the source code; which is completely reasonable. I'm going to see about setting up a versioned mirror for `objconv`, but for now, I have a tap https://github.com/hawkw/homebrew-objconv/ that should work fine.

@steveklabnik, since you don't use Homebrew, would you like me to su

[2016-11-11 16:53] steveklabnik commented on #53
Yes please!

[2016-11-15 15:55] steveklabnik opened #100 "Mention xargo in the readme"
It's not currently mentioned in the readme that you need xargo to build; this confused someone on IRC.

[2016-11-15 17:30] hawkw commented on #53
Felt like I ought to mention as a brief update that I'm still working on this; I've hit some problems getting Homebrew to build `grub` but it should hopefully be done soon.

[2016-11-27 14:27] badboy opened #102 "License missing?"
The Readme reads:

But there is no such file in this repository. Maybe it was accidentally deleted? Would be good to re-add them.

[2016-12-23 18:12] steveklabnik commented on #102
Yes, adding these in would be great.

[2016-12-28 15:35] Artillect opened #103 "QEMU Bootloop after completing 4.3"
After completing [Chapter 4.3](http://intermezzos.github.io/book/jumping-headlong-into-long-mode.html) and running my code using make, QEMU starts flashing between:

[code]
and
``VGA Blank mode``

What can I do to fix this?

[2016-12-28 15:53] steveklabnik commented on #103
I have not seen this before! What platform are you on? I wonder if any of the things on http://intermezzos.github.io/book/appendix/troubleshooting.html would help you, even though none of them match exactly.

[2016-12-28 16:40] Artillect commented on #103
I went through everything that I've done and verified that my code was correct, I'm pretty sure that I didn't end up changing anything, but it works now.

[2016-12-28 16:40] Artillect commented on #103
I went through everything that I've done and verified that my code was correct, I'm pretty sure that I didn't end up changing anything, but it works now.

[2016-12-28 16:40] #103 closed

[2016-12-28 18:18] steveklabnik commented on #103
Okay! Glad it's working 👍

[2016-12-31 18:11] thejpster opened #104 "Set Makefile PHONY targets properly"
Targets should be set as PHONY in the Makefile when they don't correspond to actual files. As currently written, creating a file called 'clean' in the root directory will stop the clean command working.

[2017-01-01 20:55] steveklabnik commented on #100
This is fixed! https://github.com/intermezzOS/kernel#building

[2017-01-01 20:55] #100 closed

[2017-01-01 20:55] steveklabnik commented on #70
This has now been fixed https://github.com/intermezzOS/kernel#building

[2017-01-01 20:55] #70 closed

[2017-01-01 20:56] steveklabnik commented on #59
We now don't require a specific rust. @adrianbrink let me know if you still are struggling but this specific issues should be gone.

[2017-01-01 20:56] #59 closed

[2017-01-01 20:57] steveklabnik commented on #12
So, I'm gonna say that we should mention that `alt-2` + `quit` works, and that this is a book issue. Moving it over to that repo!

[2017-01-01 20:57] #12 closed

[2017-01-01 21:07] #102 closed

[2017-01-06 16:54] jonhoo commented on #85
Now that https://github.com/intermezzOS/rfcs/pull/8 has been merged, the current implementation in `console/` is likely to be replaced, right? Are we envisioning that the new driver will in any way be related to https://github.com/intermezzOS/vga?

[2017-01-06 17:11] steveklabnik commented on #85
Yes, it's going to be replaced. I know it's at the 11th hour, but I think it'll be better for it. 😄

IIRC they're basically copies of each other right now, so I expect that one to update in sync with this one.

[2017-01-06 21:18] jonhoo commented on #85
Should one be deleted and made to simply point to the other?

[2017-01-06 21:59] steveklabnik commented on #85
The idea of that repo is to provide a stand-alone project to get your feet wet; the README and such doesn't do a very good job of explaining that at the moment :(

[2017-01-10 14:15] #77 closed

[2017-02-13 06:27] Thetoxicarcade opened #108 "rust-x86 needs version bumping"
https://github.com/gz/rust-x86/pull/27 - issues in Rust (rust-x86) compiling needed updating.

Can we bump the rust-x86 version?

[2017-02-13 17:12] steveklabnik commented on #108
yes! I'd happily take a PR for this, or whenever I get around to some time to hack on the kernel, I'll take care of it.

[2017-02-14 06:03] Thetoxicarcade commented on #108
Cool :D

[2017-02-14 20:48] #108 closed

[2017-02-24 07:56] p-kraszewski opened #110 "relocation R_X86_64_32 against `.bss' can not be used when making a shared object; recompile with -fPIC"
If compilation gives something like:

[code]
this is due to hardened compiler chain: at least on Hardened-Gentoo and Ubuntu 16.10+.

To fix it, you need to change `x86_64-unknown-intermezzos-gnu.json` by adding `"-no-pie"` to `"pre-link-args"`. This will disable hardening for the project.

Hope this helps!

[2017-02-24 17:02] steveklabnik commented on #110
Thanks! I'm confused as to why a "hardened" gcc wouldn't want PIE.

[2017-02-24 17:31] p-kraszewski commented on #110
Oh, it's the other way around. Hardened GCC wants PIC in so many places, that it can't be easily fulfilled due to conflicts between 32/64 bits. I had the same situation with Haskell/stack on Ubuntu 16.10 - it refused to compile with quite the similar error. That's what pointed me in the right direction with Rust/IntermezzOS.

[2017-02-28 18:29] steveklabnik commented on #69
https://users.rust-lang.org/t/utest-unit-test-ing-for-microcontrollers-and-other-no-std-systems/9695

might be an answer to this issue

[2017-03-02 17:37] steveklabnik commented on #81
http://www.cirosantilli.com/x86-paging/

[2017-04-24 17:04] xyvab opened #111 "linker-flavor required"
I noticed that intermezzOS doesn't compile anymore due to [this commit](https://github.com/rust-lang/rust/pull/40018) that makes xargo require the "linker-flavor" argument in the x86_64-unknown-intermezzos-gnu.json file.

Once added the line `"linker-flavor": "ld",` it started compiling, but I was still getting errors, that led me to add another line `"linker": "ld",`.

Now it compiles just fine,

[2017-04-25 08:46] steveklabnik commented on #111
We recently got a pr for https://github.com/intermezzOS/book/pull/166, maybe give what it changed there a try? I had been meaning to do this but have not yet had the time, and am likely not for a few weeks :(

[2017-05-19 17:58] steveeJ commented on #111
I have tested a couple of combinations, none leading to success so far.

My environment:
[code]

### "linker-flavor": "gcc"

[code]

### "linker-flavor": "ld"

[code]

### "linker": "ld", "linker-flavor": "ld"
Compilation works:

[code]

The VM starts and displays the following error:
[code]

[`readelf --all target/isofiles/boot/intermezzos`](https://github.com/intermezzOS/kernel/files/1015089/int

[2017-05-19 17:59] steveklabnik commented on #111
@phil-opp have you run into this stuff?

[2017-05-22 03:23] #111 closed

[2017-05-22 08:56] steveeJ commented on #111
For me the issue is not fixed after #112. It seems that the sections, namely _.boot_ and _.text_ don't make it into the binary:

[code]

[2017-05-22 13:54] hawkw commented on #111
@steveeJ Whoops! My kernel is linked correctly after using the new target.json syntax, so I foolishly assumed that intermezzOS would be as well. I'm passing slightly different flags, though...

[2017-05-23 08:15] steveeJ commented on #74
There's a crate for the most common PIC: https://crates.io/crates/pic8259_simple.
Would you want to use this inside the PIC crate or as a replacement?

[2017-05-23 13:24] steveklabnik commented on #74
Sure, if it supports all the stuff we need; I haven't looked at it.

[2017-05-24 12:13] steveeJ opened #114 "Missing memory probing"
In order to manage the memory, the OS should know how much it has. Extra information about reserved addresses and memory holes (maybe these are the same, I don't know yet), should also be taken into account.

[2017-05-24 12:48] steveklabnik commented on #114
Yup, this is absolutely something that would have to happen for https://github.com/intermezzOS/kernel/issues/96 and https://github.com/intermezzOS/kernel/issues/81

[2017-05-24 17:22] dato commented on #114
An expedient option would be to get the information from the bootloader. The multiboot specification includes information on [how much memory the system has](http://wiki.osdev.org/Detecting_Memory_(x86)#Memory_Map_Via_GRUB).

This would make the dependency on grub/multiboot a hard one, though; but might be a good start.

[2017-05-24 17:58] steveklabnik commented on #114
@dato big 👍 on that, multiboot should have all the info. I am fine with this.

[2017-05-26 11:43] steveeJ opened #116 "Multi-architecture support?"
I view this one of the best features in an OS kernel, as it allows reusing anything above the hardware abstracting layer on more than one architecture.
Is multi-architecture support something this project aims for?

[2017-05-26 12:56] steveklabnik commented on #116
Not really, or at least, not until far in the future. Given this is mostly about education, learning the details of multiple platforms is a distraction from the primary task, which is an overview of OSes as a whole, IMO.

[2017-05-26 13:20] steveeJ commented on #116
My following point is true for the book and the code: intermixing x86(-64) hardware specifics with general OS concepts is more distracting than establishing a clear abstraction.
It is the reality that there is a lot of hardware out there, and there are even more related software specifications that are there to either be adopted or ignored :-D When designing and implementing an OS, the first quest

[2017-05-26 14:48] steveeJ commented on #114
@dato do you by chance know how this is handled in (U)EFI systems?

[2017-05-27 13:14] dato commented on #114
I’m still using BIOS for my x86_64 OS work, but it’s a similar
story as Multiboot: it’s handed to you directly (in this case by
EFI firmware), no need to do a special dance with BIOS services
and interrupts to get it.

You want, in particular, the ‘GetMemoryMap()’ service. There is
example code in this [excellent StackOverflow answer]. For those
reading along, here’s an [overall description].

-d

[2017-05-27 13:15] dato commented on #114
I’m still using BIOS for my x86_64 OS work, but it’s a similar
story as Multiboot: it’s handed to you directly (in this case by EFI firmware), no need to do a special dance with BIOS services and interrupts to get it.

You want, in particular, the `GetMemoryMap()` service. There is example code in this [excellent StackOverflow answer](https://stackoverflow.com/a/17592211/848301). For those reading

[2017-09-13 15:30] daniel-Q6wUOI opened #117 "Compiling is failing any time"
So I was playing around with this stuff, and it didn't compiled once. I installed everything thats needed, but which libary do I miss when compiling it?

The output:
[code]

[2017-09-13 15:32] steveklabnik commented on #117
Hm; I'm not sure what this error is about.

I haven't had the time to work on this in a few months; I wonder if something changed in Rust nightly and this has bitrotted? :/

[2017-09-13 15:39] oldaniel commented on #117
@steveklabnik What do you mean by 'bitrotted'? And yeah, maybe something has changed in Rust. I will keep this first down, so it won't be important fir now.

[2017-09-13 15:51] steveklabnik commented on #117
https://en.wikipedia.org/wiki/Software_rot ; basically, the code *used* to work, but something changed, and now it doesn't work anymore, because it's old. Kind of like rot with food or other perishable items.

[2017-09-13 15:52] oldaniel commented on #117
@steveklabnik Ok :D, learned something new again

[2017-09-13 18:59] esdrastarsis commented on #117
Will the Project continue to be developed?

[2017-09-13 20:09] steveklabnik commented on #117
Absolutely; this is a long-term thing for me. I've been trying to schedule some regular time in the near future, but haven't yet. Hobby time is hard to find sometimes 😄

[2017-09-14 21:00] esdrastarsis commented on #117
@steveklabnik I am very anxious for the project to be further developed and for the conclusion of the Book

[2017-12-06 16:27] steveklabnik opened #118 "Build on Windows without the WSL"
One major thing holding back intermezzOS development is that I'm on Windows now. Getting a native windows build would be key.

http://forum.osdev.org/viewtopic.php?f=1&t=27605 might be a part of the puzzle.

[2017-12-08 11:45] Ketsuban opened #119 "Call to rust_begin_unwind despite panic=abort"
Upon getting a successful `OKAY` from Rust code I took [a hint from @phil-opp's guide](https://os.phil-opp.com/set-up-rust/#fixing-linker-errors) and tried the following.

[code]

As Phil's guide suggests, this produces undefined references to `memcpy`, but what's stranger is what happens when I bring in `rlibc` to provide those symbols (and add `--gc-sections` to the linker call to get rid of all

[2017-12-08 12:42] Ketsuban commented on #119
Okay, clearly I had some sort of brain mystery because [the solution has been semi-documented for a year now](https://github.com/rust-lang/rust/issues/38281) - `panic_fmt` needs to be both `#[no_mangle]` and `pub`.

This whole thing seems like it should be mentioned at the end of "Hello from Rust", in the same vein as the preventative setting of bit 16 (enabling write protection in ring 0) when en

[2017-12-08 12:42] #119 closed

[2017-12-10 20:30] feliwir commented on #118
What's wrong with WSL? I do all my OS development like that

[2017-12-11 02:22] steveklabnik commented on #118
Nothing's wrong with it, but I don't use it, and neither do many others. it
already builds just fine under the WSL, but it's a big dependency.

On Sun, Dec 10, 2017 at 3:30 PM, Stephan Vedder <notifications@github.com>
wrote:

[2017-12-26 12:56] LaylConway commented on #118
Could something like this be an option?
https://github.com/phil-opp/blog_os/tree/master/docker

It's still a big dependency (likely bigger than WSL) but it's probably easier to set up.

[2017-12-27 14:10] steveklabnik commented on #118
It's another option, but I still expect a native windows build.

[2018-01-15 00:51] andyfangdz opened #120 "GCC 5 won't compile with Xcode 9"
When running the install script provided for macOS, the following error occurred when compiling gcc-5:

[code]

There's already a bug filed for gcc here: https://gcc.gnu.org/bugzilla/show_bug.cgi?id=81037, however that issue is practically considered Won't Fix: https://gcc.gnu.org/bugzilla/show_bug.cgi?id=81037#c14

[2018-01-15 15:55] steveklabnik commented on #120
Gah. I don't have an OS X machine, so i can't test out any changes. I'd be very happy if someone coudl see if this works for GCC 6!

[2018-01-15 19:32] andyfangdz commented on #120
I've only done this up to finishing chapter 4, but it seems to be working so far. I'll create a PR for GCC 6.

[2018-01-15 20:38] steveklabnik commented on #120
Merged the change! Thanks a ton :)

[2018-01-15 20:38] #120 closed

[2018-01-19 22:02] leocassarani opened #121 "Running IntermezzOS on nightly fails to find Xargo target specification"
Hello!

I've been trying to run IntermezzOS on my Mac. After installing all dependencies, I ran `make run` and got the following output (cut down to the offending command):

[code]

After some digging around, I found [this Xargo issue](https://github.com/japaric/xargo/issues/186) which seemed to suggest that I had to set the `RUST_TARGET_PATH` environment variable.

I then tried running `RUST_TARG

[2018-01-27 05:50] johnterickson commented on #121
Thanks for the workaround!

[2018-01-28 04:50] johnterickson commented on #84
In case other are interested, I've started playing with cooperative multitasking [here](https://github.com/johnterickson/kernel/blob/3b47f8e30879fac801b151697425c73cc0714bb2/src/main.rs).

[2018-03-06 10:20] steveklabnik commented on #118
I am personally giving up on this in the interest of being able to move forward with the project again. I'd still *love* to have this, but it's basically blocking me from getting anything done, which is causing a lack of movement on the project overall.

The perfect is the enemy of the good.

[2018-03-06 10:34] steveklabnik opened #123 "erronious output in WSL"
I'm getting this error output:

[code]

`grub-mkrescue` does exist, so I'm not sure why it's testing for `grub2-mkrescue`;

[2018-03-06 10:40] steveklabnik commented on #123
https://github.com/intermezzOS/kernel/pull/73 was the PR that added this, it works well enough for travis and such. I wonder if this is WSL specific.

[2018-03-06 10:56] phil-opp commented on #118
I'm currently working on a second edition of the [Writing an OS in Rust](https://os.phil-opp.com) series, which will work natively on Linux, Windows, and macOS. Instead of GRUB, we use an own bootloader written in Rust inline assembly. This bootloader already does most of the setup (e.g. the switch to long mode), so that the tutorials can start at the Rust level and  `nasm` is no longer needed. We

[2018-03-06 11:00] steveklabnik commented on #117
@daniel-Q6wUOI are you still seeing this?

[2018-03-06 11:08] #121 closed

[2018-03-06 11:09] steveklabnik commented on #123
Yeah, given travis still builds, I bet this is specific to the WSL. Hrm.

[2018-03-06 11:10] steveklabnik commented on #118
oh my @phil-opp !!!!!!

That is super amazing. Given that I was already adapting the bootloading stuff from you before, maybe I should port to that when it's ready.

At the moment, I'm trying to sort out how to find time in my schedule to work on intermezzOS generally, and to get back into the swing of things. The combo of switching to Windows and expending all of my writing energy really set inte

[2018-03-06 11:22] phil-opp commented on #118
Awesome to see you back at osdev!

Yes, I'm planning a small “Writing a Bootloader” sub-series, which is linked from the main post. So people can look behind the curtain if they like, but are not forced to write assembly right at the beginning. It will take some time to write this, since the bootloader is just a hacky prototype at the moment, but I definitely plan to do it.

[2018-03-06 11:31] steveklabnik commented on #118
<3

Cool. I want to talk it over with @ashleygwilliams but, the more I think about it, the fact that we treat GRUB as magic means that I think we should treat this as magic, and just point to that. If you'd like a hand, please let me know! I don't know much about the details of bootloaders, but I'd be happy to try to pitch in if you'd like it. I gotta give back *somehow*

[2018-03-09 19:37] daniel-Q6wUOI commented on #117
Never tried it again. Can be closed.

Am 06.03.2018 12:00 schrieb Steve Klabnik <notifications@github.com>:

@daniel-Q6wUOI<https://github.com/daniel-q6wuoi> are you still seeing this?

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub<https://github.com/intermezzOS/kernel/issues/117#issuecomment-370744803>, or mute the thread<https://github.com/n

[2018-03-11 12:45] steveklabnik commented on #117
Thanks / sorry! We're hoping that things will be much easier in the future, but we're not quite there yet.

[2018-03-11 12:45] #117 closed

[2018-03-25 13:35] #110 closed

[2018-03-25 13:35] #118 closed

[2018-03-25 13:35] #123 closed

[2018-03-25 13:35] #53 closed

[2018-03-25 13:35] #69 closed

[2018-03-25 13:35] #74 closed

[2018-03-25 13:35] #75 closed

[2018-03-25 13:35] #76 closed

[2018-03-25 13:35] #78 closed

[2018-03-25 13:35] #79 closed

[2018-03-25 13:35] #85 closed

[2018-04-02 15:10] steveklabnik opened #126 "update for new bootimage"
https://github.com/rust-osdev/bootimage/pull/6

[2018-04-23 16:46] steveklabnik commented on #126
This has been fixed

[2018-04-23 16:46] #126 closed

[2018-11-19 17:03] JulianGindi opened #128 "Bootimage install fails as per documentation"
Bootimage install fails with nightly rust installed. Does not like the function "read_to_string". I was able to get it to work using the stable rust branch. Not sure what other problems that will cause down the line though.

[2018-11-19 18:15] steveklabnik commented on #128
What’s your rustc nightly version?

[2018-11-19 18:16] JulianGindi commented on #128
rustc 1.32.0-nightly (13c943992 2018-11-18)

[2018-11-19 18:17] steveklabnik commented on #128
Interesting, thanks! I’ll take a look...

[2018-12-25 16:13] steveklabnik opened #129 "update to rust 2018"
We should be up to date!